# Build outputs
.next/
out/
build/
dist/

# Dependency directories
node_modules/
.pnp/
.pnp.js

# Cache and logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*
.cache/

# Environment files
.env
.env.*
.env.local
.env.development.local
.env.test.local
.env.production.local

# Misc
.DS_Store
*.pem
.vercel
coverage/
.contentlayer
.turbo
